*[data-client='1'] {
    --color-card: var(--color-rain-logo);
}

*[data-client='2'] {
    --color-card: var(--color-schmidt-logo);
}

*[data-client='3'] {
    --color-card: var(--color-aries-logo);
}

.card-wrapper {
    width: 20rem;
    padding: 1rem;
    color: var(--color-card);
    border-radius: var(--br);
    overflow: hidden;
    box-shadow: var(--shadow);
}

h2 span {
    font-size: 0.5em;
    font-weight: var(--fw-n);
}

.card-title {
    background-color: var(--color-card);
    color: white;
    padding: 0.5rem 0.5rem 0.5rem 1.5rem;
    margin: 0 -1rem 0 -1rem;
}

.card-body p,
.card-body a {
    padding: 0.5rem;
}
